.admin-home-container {
    height: 100vh;

    .add-product-container {
        height: 80vh;
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        .add-product-card-general {
            border: 1px solid black;
            width: 50%;
            background-color: white;
            height: 80vh;
            .add-product-card-general-heading {
                height: 50px;
                background-color: aqua;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .add-product-card-general-body {
                padding: 20px;
                .add-product-card-general-body-form {
                    .card-general-group {
                        .card-general-row{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 50px;
                            .card-general-label {
                                font-size: 18px;
                            }
    
                            .card-general-input {
                                border: 1px solid black;
                                width: 200px;
                                padding: 10px;
                                border-radius: 15px;
                                font-size: 18px;

                            }
                            .card-general-select{
                                border: 1px solid black;
                                width: 200px;
                                padding: 10px;
                                border-radius: 15px;
                                font-size: 18px;

                            }
                        }
                    }
                }
            }
        }

        .add-product-card-pricing {
            border: 1px solid black;
            width: 45%;
            background-color: white;
            height: 80vh;

            .add-product-card-pricing-heading {
                height: 50px;
                background-color: aqua;
            }

            .add-product-card-pricing-body {
                padding: 20px;

                .add-product-card-pricing-body-form {
                    .card-pricing-group {
                        .card-pricing-row{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 50px;
                            .card-pricing-label {
                                font-size: 18px;
                            }
    
                            .card-pricing-input {
                                border: 1px solid black;
                                width: 200px;
                                padding: 10px;
                                border-radius: 15px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    .add-btn{
        background-color: aquamarine;
        padding: 10px 20px;
        color: black;
        font-weight: 600;
        border-radius: 20px;
        margin-top: 20px;
        cursor: pointer;
        float: right;
    }
}